### Atividade James capítulo 2  página 55

In [1]:
import pandas as pd

In [2]:
Auto = pd.read_csv('Auto.csv') # comma-separated file

In [3]:
Auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
type(Auto)

pandas.core.frame.DataFrame

In [5]:
Auto['horsepower']

0      130
1      165
2      150
3      150
4      140
      ...
392     86
393     52
394     84
395     79
396     82
Name: horsepower, Length: 397, dtype: object

In [6]:
import numpy as np

In [7]:
np.unique(Auto['horsepower'])

array(['100', '102', '103', '105', '107', '108', '110', '112', '113',
       '115', '116', '120', '122', '125', '129', '130', '132', '133',
       '135', '137', '138', '139', '140', '142', '145', '148', '149',
       '150', '152', '153', '155', '158', '160', '165', '167', '170',
       '175', '180', '190', '193', '198', '200', '208', '210', '215',
       '220', '225', '230', '46', '48', '49', '52', '53', '54', '58',
       '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70',
       '71', '72', '74', '75', '76', '77', '78', '79', '80', '81', '82',
       '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93',
       '94', '95', '96', '97', '98', '?'], dtype=object)

In [8]:
Auto['horsepower'].sum()

'13016515015014019822021522519017016015022595959785884687909511390215200210193889095?1001051008810016517515315018017017511072100888690707665696070958054908616517515015315020815516019097150130140150112768769869297808817515014513715019815015815021522517510510010088954615016717018010088729490851079014523049759111215011012218095?100100678065751001101051401501501401508367785261757575979367951057272170145150148110105110951101101297583100789671979770909588981155386819279831401501201521001058190526070531007811095717075721021508810812018014513015068805896701451101451301101051009818017019014978887589638367789711011048665270601101401391059585881009010585110120145165139140689597759510585971031251151337168115858890110130129138135155142125150716580807712571907070656990115115907660706590889090789075927565105654848676767?676213210088?72848492110845864606765626863656574?7575100748076116120110105888588888885849092746868637088757067676711085921129684908652847982'

In [9]:
Auto = pd.read_csv('Auto.csv', na_values=['?'])

In [10]:
Auto['horsepower'].sum()

40952.0

In [11]:
Auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      5
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [12]:
Auto.shape

(397, 9)

In [13]:
Auto = Auto.dropna()
Auto.shape

(392, 9)

In [14]:
Auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [15]:
Auto.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            387, 388, 389, 390, 391, 392, 393, 394, 395, 396],
           dtype='int64', length=392)

In [16]:
Auto = Auto.set_index('name')

In [17]:
Auto.index

Index(['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite',
       'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala',
       'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl',
       ...
       'chrysler lebaron medallion', 'ford granada l', 'toyota celica gt',
       'dodge charger 2.2', 'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevy s-10'],
      dtype='object', name='name', length=392)

In [18]:
Auto.loc['toyota corolla']

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
toyota corolla,29.0,4,97.0,75.0,2171,16.0,75,3
toyota corolla,28.0,4,97.0,75.0,2155,16.4,76,3
toyota corolla,32.2,4,108.0,75.0,2265,15.2,80,3
toyota corolla,32.4,4,108.0,75.0,2350,16.8,81,3
toyota corolla,34.0,4,108.0,70.0,2245,16.9,82,3

In [19]:
Auto[:3]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,1
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,1
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,1

In [20]:
idx_80 = Auto['year'] > 80
Auto[idx_80]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
plymouth reliant,27.2,4,135.0,84.0,2490,15.7,81,1
buick skylark,26.6,4,151.0,84.0,2635,16.4,81,1
dodge aries wagon (sw),25.8,4,156.0,92.0,2620,14.4,81,1
chevrolet citation,23.5,6,173.0,110.0,2725,12.6,81,1
plymouth reliant,30.0,4,135.0,84.0,2385,12.9,81,1
toyota starlet,39.1,4,79.0,58.0,1755,16.9,81,3
plymouth champ,39.0,4,86.0,64.0,1875,16.4,81,1
honda civic 1300,35.1,4,81.0,60.0,1760,16.1,81,3
subaru,32.3,4,97.0,67.0,2065,17.8,81,3
datsun 210 mpg,37.0,4,85.0,65.0,1975,19.4,81,3
toyota tercel,37.7,4,89.0,62.0,2050,17.3,81,3
mazda glc 4,34.1,4,91.0,68.0,1985,16.0,81,3
plymouth horizon 4,34.7,4,105.0,63.0,2215,14.9,81,1
ford escort 4w,34.4,4,98.0,65.0,2045,16.2,81,1
ford escort 2h,29.9,4,98.0,65.0,2380,20.7,81,1
volkswagen jetta,33.0,4,105.0,74.0,2190,14.2,81,2
honda prelude,33.7,4,107.0,75.0,2210,14.4,81,3
toyota corolla,32.4,4,108.0,75.0,2350,16.8,81,3
datsun 200sx,32.9,4,119.0,100.0,2615,14.8,81,3
mazda 626,31.6,4,120.0,74.0,2635,18.3,81,3
peugeot 505s turbo diesel,28.1,4,141.0,80.0,3230,20.4,81,2
volvo diesel,30.7,6,145.0,76.0,3160,19.6,81,2
toyota cressida,25.4,6,168.0,116.0,2900,12.6,81,3
datsun 810 maxima,24.2,6,146.0,120.0,2930,13.8,81,3
buick century,22.4,6,231.0,110.0,3415,15.8,81,1
oldsmobile cutlass ls,26.6,8,350.0,105.0,3725,19.0,81,1
ford granada gl,20.2,6,200.0,88.0,3060,17.1,81,1
chrysler lebaron salon,17.6,6,225.0,85.0,3465,16.6,81,1
chevrolet cavalier,28.0,4,112.0,88.0,2605,19.6,82,1
chevrolet cavalier wagon,27.0,4,112.0,88.0,2640,18.6,82,1
chevrolet cavalier 2-door,34.0,4,112.0,88.0,2395,18.0,82,1
pontiac j2000 se hatchback,31.0,4,112.0,85.0,2575,16.2,82,1
dodge aries se,29.0,4,135.0,84.0,2525,16.0,82,1
pontiac phoenix,27.0,4,151.0,90.0,2735,18.0,82,1
ford fairmont futura,24.0,4,140.0,92.0,2865,16.4,82,1
volkswagen rabbit l,36.0,4,105.0,74.0,1980,15.3,82,2
mazda glc custom l,37.0,4,91.0,68.0,2025,18.2,82,3
mazda glc custom,31.0,4,91.0,68.0,1970,17.6,82,3
plymouth horizon miser,38.0,4,105.0,63.0,2125,14.7,82,1
mercury lynx l,36.0,4,98.0,70.0,2125,17.3,82,1
nissan stanza xe,36.0,4,120.0,88.0,2160,14.5,82,3
honda accord,36.0,4,107.0,75.0,2205,14.5,82,3
toyota corolla,34.0,4,108.0,70.0,2245,16.9,82,3
honda civic,38.0,4,91.0,67.0,1965,15.0,82,3
honda civic (auto),32.0,4,91.0,67.0,1965,15.7,82,3
datsun 310 gx,38.0,4,91.0,67.0,1995,16.2,82,3
buick century limited,25.0,6,181.0,110.0,2945,16.4,82,1
oldsmobile cutlass ciera (diesel),38.0,6,262.0,85.0,3015,17.0,82,1
chrysler lebaron medallion,26.0,4,156.0,92.0,2585,14.5,82,1
ford granada l,22.0,6,232.0,112.0,2835,14.7,82,1
toyota celica gt,32.0,4,144.0,96.0,2665,13.9,82,3
dodge charger 2.2,36.0,4,135.0,84.0,2370,13.0,82,1
chevrolet camaro,27.0,4,151.0,90.0,2950,17.3,82,1
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,1
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,2
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,1
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,1
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,1